{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="back-to-main" id="index-page">
            <span>Hidden</span>
        </div>
        <div class="register">
            <a href="{{ url_for('route_register') }}">Register</a>
        </div>
    </div>
    <h1>Welcome to AskMate!</h1>
    {% if sorted_questions %}
        <h3 id="help-out">Help out your fellow AskMates:</h3>
        {% include 'home/table.html' %}
        <a href="{{ url_for('route_add') }}" id="ask-question">Ask a question</a>
        <a href="{{ url_for('route_list') }}" id="list-questions">List all questions</a>
        <a href="{{ url_for('route_tags') }}" id="list-tags">List tags</a>
        {% include 'search/search_box.html' %}
    {% else %}
        <a href="{{ url_for('route_add') }}" id="first-question">Be the fist to ask a question</a>
    {% endif %}
{% endblock %}