{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}All questions{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="back-to-main">
            <a href="{{ url_for('route_index') }}">&#x2B05; Return to main page</a>
        </div>
        <div class="register">
            <a href="{{ url_for('route_register') }}">Register</a>
        </div>
    </div>
    <h1>Welcome to AskMate!</h1>
    {% if sorted_questions %}
        <h3>Help out your fellow AskMates:</h3>
        {% include 'home/sort.html' %}
        {% include 'home/table.html' %}
        <a href="{{ url_for('route_add_question') }}" id="ask-question">Ask a question</a>
    {% else %}
        <a href="{{ url_for('route_add_question') }}" id="first-question">Be the fist to ask a question</a>
    {% endif %}
{% endblock %}