<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Submission time</th>
        <th>Question title</th>
        <th>Question submission time</th>
    </tr>
    </thead>
    {% for answer in user_data.answers %}
        <tr>
            <td>{{ answer.id }}</td>
            <td>{{ answer.message }}</td>
            <td>{{ answer.submission_time }}</td>
            <td><a href="{{ url_for('display_question_and_answers', question_id=answer.question_id) }}">
                {{ answer.q_title }}</a></td>
            <td>{{ answer.q_submission_time }}</td>
        </tr>
    {% endfor %}
</table>