<table>
    <thead>
    <tr>
        <th>ID</th>
        <th class="a-message">Message</th>
        <th class="submission_time">Submission time</th>
        <th class="q-title">Question title</th>
        <th class="submission_time">Question<br>submission time</th>
    </tr>
    </thead>
    {% if not user_data.answers %}
        <tr>
            <td colspan="5">You haven't posted any answers yet.</td>
        </tr>
    {% endif %}
    {% for answer in user_data.answers %}
        <tr>
            <td>{{ answer.id }}</td>
            <td class="a-message">{{ answer.message | replace('\n', '&#8629; '|safe) }}</td>
            <td>{{ answer.submission_time }}</td>
            <td class="q-title"><a href="{{ url_for('display_question_and_answers', question_id=answer.question_id) }}">
                {{ answer.q_title }}</a></td>
            <td>{{ answer.q_submission_time }}</td>
        </tr>
    {% endfor %}
</table>