{% if user_data.questions %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Submission time</th>
        </tr>
        </thead>
        {% for question in user_data.questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td><a href="{{ url_for('display_question_and_answers', question_id=question.id) }}">
                    {{ question.title }}</a></td>
                <td>{{ question.submission_time }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}