<table class="question">
    <thead>
    <tr>
        <th>ID</th>
        <th class="q-title">Title</th>
        <th class="submission_time">Submission time</th>
    </tr>
    </thead>
    {% if not user_data.questions %}
        <tr>
            <td colspan="3">You haven't asked any questions yet.</td>
        </tr>
    {% endif %}
    {% for question in user_data.questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td><a href="{{ url_for('display_question_and_answers', question_id=question.id) }}">
                {{ question.title }}</a></td>
            <td>{{ question.submission_time }}</td>
        </tr>
    {% endfor %}
</table>