{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='general.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}Add tag{% endblock %}
{% block content %}
<form action="" method="post" id="tag-select">
    <select name="existing_tag" id="tag-list">
        <option SELECTED hidden value="not_present">Select a tag</option>
    {% for tag in existing_tags %}
        <option value="{{ tag.id }}" >{{ tag.name }}</option>
    {% endfor %}
    </select>
    <input name="new_tag" id="new-tag" placeholder="Or enter a new tag" type="text">
    <button type="submit">Add tag</button>
</form>
{% endblock %}