{% extends 'layout.html' %}
{% block head %}
        <meta charset="UTF-8">
        {% block title %}<title>Post an answer</title>{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='add_response.css') }}">
{% endblock %}
{% block content %}
        <div class="form-header">
            {% if question %}
            <a id="back-to-question" href="{{ url_for('display_question_and_answers', question_id=question.id) }}">Return to question</a>
            {%  elif answer %}
            <a id="back-to-question" href="{{ url_for('display_question_and_answers', question_id=answer.question_id) }}">Return to question</a>
            {% endif %}
        <h2>Answer question</h2>
        </div>
        <div id="body-of-inputs">
            <div class="text-container">
            <strong><p>{{ question.title }}</p></strong><br>
            <p class="text" id="question-message">{{ question.message}}</p>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <p>
                    <label for="message-textarea">Write your answer here:</label><br>
                    <textarea id="message-textarea" name="message" minlength="10" rows="6" cols="40" required>{{ answer.message if answer }}</textarea>
                </p>
                <p>
                    <label for="image">Image URL:</label><br>
                    <input type="file" id="image" name="image" size="30" value="{{ answer.image if answer and answer.image != None }}">
                </p>
                <p>
                    <button type="submit">{{ "Submit changes" if answer else "Send answer!" }}</button>
                </p>
            </form>
        </div>
{% endblock %}
