{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tags.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}Add tag{% endblock %}
{% block content %}
<div id="back-to-question-holder"><a id="back-to-question" href="{{ session.url }}">Return to question</a></div>
<form action="" method="post" id="tag-select">
    <div id="tag-bubble">
    {% for tag in existing_tags %}
    <button id="tag-button" type="submit" name="tag" value="{{ tag.id }}">{{ tag.name }}</button>
    {% endfor %}</div>
    <div id="custom-tag">
    <label for="">Or enter a new tag</label><br>
    <input name="new_tag" id="new-tag" placeholder="New tag" type="text">
    <button type="submit" name="tag" value="new_tag">Add tag</button></div>
</form>
{% endblock %}