<strong id="answer-id">Answer id_{{ answer.id }}</strong>
<p class="display-username">by <a href="{{ url_for('route_user_page', user_id=answer.user_id) }}"><strong>{{ answer.username }}</strong></a>(<em>{{ answer.reputation }}</em>)</p>
<p id="answer-submission-time">posted on {{ answer.submission_time }}</p>
<p id="answer-message">{{ answer.message }}</p>
{% if answer.image %}
    <img class="answer-image" src="/static/{{ answer.image }}" width="500" alt="answer_image">
{% endif %}
<div class="like-and-counter">
    <span id="answers-like-counter">Likes: {{ answer.vote_number }}</span>
    {% if user_id and user_id != answer.user_id %}
        <form class="like-and-dislike" action="{{ url_for('route_vote', question_id=question.id) }}" method="post">
            <button type="submit" name="vote" value="Upvote,{{ answer.id }},answer" id="upvote-answer">&#x1F44D;</button>
            <button type="submit" name="vote" value="Downvote,{{ answer.id }},answer">&#x1F44E;</button>
        </form>
    {% endif %}
</div>
<div class="answer-comment-operations" id="answer-operations">
    {% if user_id == answer.user_id %}
    <a href="/answer/{{ question.id }}/{{ answer.id }}/new_comment" id="new_comment">Comment on this answer!</a>
        <a href="{{ url_for('route_delete_answer', question_id=question.id, answer_id=answer.id) }}"
        class="delete" id="delete-answer"></a>
        <a href="{{ url_for('route_edit_answer', answer_id=answer.id) }}" class="edit" id="edit-answer"></a>
    {% endif %}
    {% if answer.id == question.accepted_answer_id %}
        <a class="accepted_answer" id='accepted-answer-button-link' value="{{ answer.id }}"></a>
    {% elif not question.accepted_answer_id and user_id != answer.user_id and user_id == question.user_id %}
        <a class="not_accepted_answer" id='accepted-answer-button-link' value="{{ answer.id }}"
           href="{{ url_for('route_accepted_answer', question_id=question.id, answer_id=answer.id) }}"></a>
    {% elif user_id != answer.user_id or user_id != question.user_id %}
        <a class="never_will_be_accepted_answer" id='accepted-answer-button-link' value="{{ answer.id }}"></a>
    {% endif %}
</div>
