<div class="comments">
    {% for comment in comments %}
    {% if comment.answer_id == answer.id %}
        <div class="comment">
            </br>
            <p class="comment-submission-time">posted on {{ comment.submission_time }}</p>
            {% if comment.edited_count > 0 %}
                <div class="comment-edit-count">Edited {{ comment.edited_count }} times</div>
            {% endif %}
            <p class="comment-message">{{ comment.message }}</p>
             &emsp
            <a href="/comments/{{ comment.id }}/edit">Edit comment</a>
            <a id='delete-button-link' href="{{ url_for('delete_comment',
                                                  comment_id=comment.id) }}">
                <img id="delete-button-image"
                     src="https://image.flaticon.com/icons/png/512/70/70388.png">
            </a>
        </div>
    {% endif %}
    {% endfor %}
</div>