<strong id="answer-id">Answer id_{{ answer.id }}</strong>
<p id="answers-user">by <strong>{{ answer.username }}</strong>(<em>{{ answer.reputation }}</em>)</p>
<p id="answer-submission-time">posted on {{ answer.submission_time }}</p>
<p id="answer-message">{{ answer.message }}</p>
{% if answer.image %}
    <br><img src="{{ answer.image }}" width="500" alt="answer_image">
{% endif %}
<div class="like-and-counter">
    <span id="answers-like-counter">Likes: {{ answer.vote_number }}</span>
    <form class="like-and-dislike" action="{{ url_for('route_vote', question_id=question.id) }}" method="post">
        <button type="submit" name="vote" value="Upvote,{{ answer.id }},answer" id="upvote-answer">&#x1F44D;</button>
        <button type="submit" name="vote" value="Downvote,{{ answer.id }},answer">&#x1F44E;</button>
    </form>
</div>
<a href="/answer/{{ question.id }}/{{ answer.id }}/new_comment" id="new_comment">Comment this answer!</a>
<a href="{{ url_for('route_delete_answer', question_id=question.id, answer_id=answer.id) }}"
    id="delete-answer">Delete answer</a>
<a href="{{ url_for('route_edit_answer', answer_id=answer.id) }}" id="edit-answer">Edit answer</a>