<div class="like-and-counter">
    <span id="view-counter">views: {{ question.view_number }} | likes: {{ question.vote_number }}</span>
    {% if user_id and user_id != question.user_id %}
        <form class="like-and-dislike" action="{{ url_for('route_vote', question_id=question.id) }}" method="post">
            <button type="submit" name="vote" value="Upvote,{{ question.id }},question">&#x1F44D;</button>
            <button type="submit" name="vote" value="Downvote,{{ question.id }},question">&#x1F44E;</button>
        </form>
    {% endif %}
</div>