{% if answers %}
{% for answer in answers %}
    <div id="answers">
        {% include 'display_question/question_answers_body.html' %}
        {% for comment in comments %}
        {% if comment.answer_id == answer.id %}
            {% include 'display_question/comments.html' %}
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
{% else %}
    <a href="/question/{{ question.id }}/new-answer"
       id="answer-question-first">Be the first to answer this question!</a>
    <a href="/question/{{ question.id }}/new-comment"
       id="add-comment">Comment this question</a>
{% endif %}