{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question_style.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}{{ question.title[:20] }}{{ '...' if question.title|length>20 }}{% endblock %}
{% block content %}
    <div id="main">
    {% if question %}
        {% set current_question_index = question_ids.index(question.id) %}
        {% include 'display_question/question_stepper.html' %}
        {% include 'display_question/question_header.html' %}
        {% include 'display_question/question_body.html' %}
        {% include 'display_question/question_tags.html' %}
        {% include 'display_question/question_likes_and_views.html' %}
        {% for comment in comments %}
        {% if not comment.answer_id %}
            {% include 'display_question/comments.html' %}
        {% endif %}
        {% endfor %}
        {% include 'display_question/question_answers.html' %}
    {% else %}
    {% endif %}
    </div>
{% endblock %}