@import "general.css";
@import "anchor.css";

.form-header {
    display: block;
    width: 650px;
    height: 60px;
    margin-bottom: 15px;
}

#body-of-inputs {
}

h2 {
    color: black;
    flex: 0 0 200px;
    margin: 0;
}

#back-to-question, #heading {
    display: inline-block;
}

#back-to-question {
    background: whitesmoke;
    border: 1px darkkhaki solid;
    padding: 5px;
    float: right;
}

#back-to-question div {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

form {
    display: block;
}

#add-question-message {
    width: 650px;
}

textarea {
    width: inherit;
}