@import "general.css";
@import "anchor.css";

.form-header {
    display: block;
    width: 650px;
    height: 30px;
    margin-bottom: 35px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

h2 {
    color: black;
    flex: 0 0 200px;
    margin: 0;
}

#back-to-question, #heading {
    display: inline-block;
}

.text-container {
    display: block;
    margin-bottom: 20px;
}

.text {
    margin-left: 30px;
    white-space: pre-line;
    text-align: justify;
    word-break: break-word;
}

#back-to-question {
    background: whitesmoke;
    border: 1px darkkhaki solid;
    padding: 5px;
    float: right;
}

#back-to-question div {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

form {
    display: block;
}

#message-textarea {
    width: 650px;
    padding: 0;
}

textarea {
    width: inherit;
}

p {
    margin: 0;
}