html {
    background: var(--main-color4);
}

body {
    margin: 0;
}

.page-header {
    display: block;
}

#content {
    margin: 3%;
}

a:hover {
    color: var(--main-color3);
    text-decoration: none;
    cursor: pointer;
}

a {
    color: var(--main-color2);
    text-decoration: none;
}

:root {
    --main-color1: #0e153a;
    --main-color2: #3d5af1;
    --main-color3: #22d1ee;
    --main-color4: #e2f3f5;
}