html {
    background: #d5ecff;
}

h1 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.back-to-main {
    display: inline-block;
    margin-top: 1em;
    border: 1px solid darkkhaki;
    background-color: whitesmoke;
    padding: 5px;
}