html {
    background: #d5ecff;
}

body {
    margin: 0;
}

.page-header {
    display: block;
}

.register {
    display: inline-block;
    float: right;
    margin-top: 1em;
    padding: 5px 0;
    margin-right: 10%;
}
