.header {
    margin: 0;
    display: block;
    border-bottom: 2px solid blue;
    background-color: grey;
    width: auto;
    height: 85px;
    text-align: center;
}

#back-to-main, #user-area {
    display: inline-block;
}

h1 {
    color: white;
}

#back-to-main {
    margin-left: 33px;
    float: left;
}

#user-area {
    float: right;
    margin: 33px;
}

a {
    text-decoration: none;
}

.flashes {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 12px;
}