@import "general.css";

.header {
    margin: 0;
    display: block;
    border-bottom: 2px solid var(--main-color2);
    background-color: var(--main-color1);
    width: auto;
    height: 85px;
    text-align: center;
}

#back-to-main, #user-area {
    display: inline-block;
}

h1 {
    color: var(--main-color3);
}

#back-to-main {
    margin-left: 33px;
    float: left;
}

#user-area {
    color: var(--main-color3);
    float: right;
    margin: 33px;
}

.flashes {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--main-color3);
    margin-top: 17px;
    line-height: 9px;
}