@import 'anchor.css';
@import 'table.css';
@import 'general.css';
@import 'search_box.css';


h3 {
    display: inline;
    margin: 0 auto 0 10%;
}

#ask-question, #list-questions, #first-question, #list-tags, #list-users {
    display: block;
    width: max-content;
    margin: 15px auto auto;
}

#ask-question, #list-questions, #list-tags, #list-users {
    font-size: 140%;
}

#first-question {
    margin-top: 7%;
    font-size: 200%;
}

#index-page {
    visibility: hidden;
}

#content {
    margin-top: 3%;
}