@import 'anchor.css';
@import 'table.css';
@import 'sort.css';
@import 'general.css';

h3 {
    display: inline;
    margin: 0 auto;
    margin-left: 10%;
}

#ask-question, #list-questions {
    text-align: center;
    display: block;
    font-size: 140%;
}

#first-question {
    margin-top: 7%;
    text-align: center;
    display: block;
    font-size: 200%;
}
