html {
    background: powderblue;
}

h1 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

h3 {
    display: inline;
    margin:0 auto;
    margin-left: 10%;
}

#sort {
    display: block;
    float: right;
    margin:0 auto;
    margin-right: 10%;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
}

td {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

th {
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid black;
}

#ask-question {
    text-align: center;
    display: block;
    font-size: 140%;
}

#first-question {
    margin-top: 7%;
    text-align: center;
    display: block;
    font-size: 200%;
}

#sort_order_direction, #sort_order_by, button {
    font-size: 110%;
}

a:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}