@import 'anchor.css';
@import 'table.css';
@import 'sort.css';
@import 'general.css';

h3 {
    display: inline-block;
    float: left;
    margin: 6px 0 6px 0;
}

#sort {
    display: inline-block;
    float: right;
}

#list-header {
    display: block;
    width: 1100px;
    height: 35px;
    margin: auto;
}

#ask-question, #list-questions, #first-question {
    display: block;
    text-align: center;
    margin: 16px 0;
}

#ask-question, #list-questions {
    font-size: 140%;
}

#first-question {
    margin-top: 7%;
    font-size: 200%;
}