@import "general.css";

#login-register {
    display: block;
    width: max-content;
    margin: auto;
}

#login, #register {
    display: inline-block;
    border: 2px solid var(--main-color1);
    padding: 20px;
    margin-inline: 30px;
}

.user-data-input {
    margin-bottom: 10px;
}


h3  {
    text-align: center;
}