@import "anchor.css";
@import "general.css";


#back-to-main {
    display: inline-block;
    margin-top: 2%;
    border: 1px solid darkkhaki;
    background-color: whitesmoke;
    padding: 5px;
}
#next-previous-question {
    display: block;
    margin-bottom: 4em;
}

#previous-question {
    float: left;
}

#next-question {
    float: right;
}

#question-title-plus-editing {
    display: inline-block;
    margin: 0.4em;
    padding: 0.2em;
    width: inherit;
}

#question-title {
    display: inherit;
    font-size: 1.5em;
    padding: inherit;
    margin: inherit;
    margin-left: 0;
    padding-left: 0;

}

#delete-question, #edit-question {
    margin: inherit;
    border: 1px solid grey;
    border-radius: 4px;
    line-height: 1.5em;
    padding: inherit;
    float: right;
}

#main {
    width: 90em;
    margin: 2% auto;
    border: 1px solid darkkhaki;
    padding: 2%;
    background: whitesmoke;
}

#question-message-and-image-and-likes{
    display: inline-block;
}
#question-message-and-image {
    width: inherit;
    display: inherit;
    margin-left: 8em;
    border-left: 5px solid darkkhaki;
    padding-left: 10px;
}

#question-voting {
    display: inline-grid;
    float: left;
}

#question-message {
    display: inherit;
    white-space: pre-line;
    text-align: justify;
    word-break: break-word;
}

/*#question-message-and-image {*/
/*    border-left: 6px solid black;*/
/*    padding-left: 20px;*/
/*    margin-left: 40px;*/
/*    background-color: olivedrab;*/
/*    !*border-left: 3px solid blue;*!*/
/*    margin-bottom: 40px;*/
/*}*/

/*#upvote, #downvote {*/
/*    display: inline-block;*/
/*    width: auto;*/
/*    text-align: center;*/
/*    font-size: 120%;*/
/*    margin-bottom: 2%;*/
/*}*/
#tag-block{
    display: block;
}

#tags {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px;
    display: inline-block;
    margin: 4px 1px;
}

#add-new-tag {
    background-color: #a2cfc7;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 1.5;
    display: inline-block;
    margin: 4px 1px;
}

#view-counter {
    display: block;
}

#comment {
    display: block;
    border: 2px solid black;
    width: inherit;
}

#comment-header {
    display: inline-block;
    width: inherit;
}

#comment-submission-time{
    float: right;
}

#comment-operations {
    display: inline-block;
    margin-top: 2em;
    width: inherit;
}

#comment-message {
    white-space: pre-line;
    padding-left: 2em;
}

#delete-button-link {
    float: right;
    width: 2em;
}

#edit-comment {
    display: inherit;
    line-height: 2.1em;
}

#delete-button-image{
    width: 100%;
    display: inherit;
    float: right;
}

#answers {
    margin-left: 4%;
    margin-top: 4%;
    width: fit-content;
    border: 1px solid darkkhaki;
    padding: 2%;
}

#answer-question, #answer-question-first {
    font-size: 110%;
}

#upvote-answer, #downvote-answer, #answers-like-counter{
    display: inline-block;
}

#upvote-answer {
    margin-left: 5%;
}

#answer-message {
    word-break: break-word;
    margin-right: 2%;
}

#answer-submission-time, .comment-submission-time {
    display: inline-block;
    margin-top: 0;
    float: right;
    font-size: small;
}

#answer-id {
    display: inline;
}

