@import "general.css";
@import "question_anchors.css";


#main {
    width: 80%;
    margin: 2% auto;
    border: 3px solid darkkhaki;
    padding: 2%;
    background: whitesmoke;
}

#back-to-main {
    display: inline-block;
    margin-top: 2%;
    border: 1px solid darkkhaki;
    background-color: whitesmoke;
    padding: 5px;
}
#next-previous-question {
    display: block;
    margin-bottom: 4em;
}

#previous-question {
    float: left;
}

#next-question {
    float: right;
}

#question-title-plus-editing {
    display: block;
    padding: 0.2em 0.2em 0.2em 0;
    margin: 0.4em 0.4em 1em 0;
}

#question-title {
    display: inline;
    font-size: 1.5em;
    /*margin: inherit inherit inherit 0;*/
    /*padding: inherit inherit inherit 0;*/
    margin-left: 0;
    padding-left: 0;
    line-height: 2em;
}

/*#edit-question {*/
/*    display: inline-block;*/
/*    margin-left: 0.5em;*/
/*    border: 1px solid grey;*/
/*    border-radius: 4px;*/
/*    line-height: 1.5em;*/
/*    padding: 0.2em;*/
/*    float: right;*/
/*}*/

#edit-question {
    display: inline-block;
    float: right;
    background-image: url('pen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

#edit-question:hover {
    background-image: url("pen_editing.png");
    transition: transform 0.3s ease;
    transform: scale(1.3);
}

#delete-question {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
}

#question-message-and-image {
    border-left: 5px solid darkkhaki;
    padding-left: 2em;
    display: block;
    margin-bottom: 1em;
}

#question-message {
    display: inherit;
    white-space: pre-line;
    text-align: justify;
    word-break: break-word;
}

#tag-block{
    display: block;
}

#tags {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px;
    display: inline-block;
    margin: 4px 1px;
}

#add-new-tag {
    background-color: #a2cfc7;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 1.5;
    display: inline-block;
    margin: 4px 1px;
}

#likes-and-views, .like-and-counter {
    display: block;
    height: max-content;
    margin-top: 1em;
    margin-bottom: 1em;
}

#view-counter, #answers-like-counter{
    display: inline;
    margin-right: 0.5em;
}

.like-and-dislike {
    display: inline-block;
}

#comment {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 1em;
}

#comment-header {
    display: block;
    width: inherit;
}

#comment-submission-time{
    display: inline;
    float: right;
    font-size: small;
}

#comment-message {
    white-space: pre-line;
    word-break: break-word;
    padding-left: 2em;
}

#comment-operations {
    display: block;
    margin-top: 2em;
    width: inherit;
}

#delete-button-link {
    display: flow-root;
    float: right;
}

.delete {
    background-image: url('trashcan_closed.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

.delete:hover {
    background-image: url("trashcan_opened.png");
    transition: transform 0.3s ease;
    transform: scale(1.3);
}

#edit-comment {
    display: inline;
    line-height: 2.5em;
    padding-top: 0.3em;
}

#answers {
    margin-left: 4%;
    margin-top: 4%;
    width: fit-content;
    border: 2px solid darkkhaki;
    padding: 2%;
}

#answer-question, #answer-question-first {
    font-size: 110%;
}

#answer-message {
    word-break: break-word;
    white-space: pre-line;
    margin-right: 2%;
}

#answer-submission-time, .comment-submission-time {
    display: inline-block;
    margin-top: 0;
    float: right;
    font-size: small;
}

#answer-id, #answers-user {
    display: inline;
}

#answers-user em{
    font-style: oblique;
}

em {
    color: deeppink;
    font-style: normal;
    font-size: medium;
}
