html {
    background: powderblue;
}

#main-question-body {
    margin-left: 2%;
    margin-top: 2%;
    width: 700px;
    border: 1px solid darkkhaki;
    padding: 2%;
    padding-right: 5%;
    background: whitesmoke;
    margin-bottom: 5%;
}

#back-to-main {
    display: block;
    margin-top: 2%;
}

#answers {
    margin-left: 4%;
    margin-top: 4%;
    width: fit-content;
    border: 1px solid darkkhaki;
    padding: 2%;
}

#upvote, #downvote {
    display: inline;
    width: auto;
    text-align: center;
    font-size: 120%;
}

#view-counter {
    display: inline;
}

#edit, #delete, #next-question, #previous-question, #which-question {
    display: inline;
    padding-right: 20px;
}

#answer-question, #answer-question-first {
    font-size: 110%;
}

#upvote-answer, #downvote-answer, #answers-like-counter{
    display: inline-block;
}

#upvote-answer {
    margin-left: 5%;
}

#question-message, #answer-message {
    white-space: pre-line;
    text-align: justify;
    margin-left: 2%;
}

#answer-message {
    word-break: break-word;
    margin-right: 2%;
}

#question-message {
    width: 500px;
}

a:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    margin-left: 2%;
    margin-bottom: 2%;
}