@import 'anchor.css';
@import 'general.css';

h2 {
    text-align: center;
}

.container {
    display: block;
    width: max-content;
    margin:  auto;
    border: 1px darkkhaki solid;
    padding: 20px;
}

form {
    display: block;
}

.user-data-input {
    margin-bottom: 10px;
}

label, input {
    display: inline-block;
}

input {
    width: 200px;
}