@import 'general.css';
@import 'anchor.css';

h1.page-title {
    color: black;
    margin-left: 100px;
}

h3 {
    display: inline;
    margin: 100px;
}

#questions-container {
    margin: 2% 10% 10% 15%;
    border: black solid thick;
    padding: 2% 4%;
}

.q-container {
    margin-top: 12pt;
    border: darkblue solid thick;
    padding: 12pt 6pt;
}

.answers-container {
    margin-top: 6pt;
    border: black solid thin;
    padding: 2pt 4pt;
}

em {
    font-style: normal;
    background-color: burlywood;
}

.q-id, .q-message, .q-title {
    font-size: large;
    word-break: break-word;
}

.q-id .label,
.q-title .label,
.q-message .label
{
    font-weight: bold;
}

.a-container .label {
    font-weight: bold;
}

.q-title, .q-id {
    margin-bottom: 6pt;
}

.q-title, .q-id {
    display: inline-block;
}

.q-id {
    float: right;
}

.text-value {
    word-break: break-word;
    white-space: pre-line;
}