@import 'general.css';
@import 'anchor.css';

.username {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
    padding: 0;
}

.table-name {
    font-weight: bold;
    margin: 50px 0 30px 50px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: black solid 2px;
    background: #e2f3f5;
    margin-left:  50px;
    margin-right: 100px;
}

th, td {
    border: black solid 2px;
    padding: 6px;
    text-align: center;
}

table thead th:nth-child(1) {
    width: 50px;
}

th.submission_time {
    width: 200px;
}

.q-title, .a-message, .c-message {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.posted-to {
    width: 100px;
}