<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New question | AskMate</title>
        <style type="text/css">
            html {
                background: #d5ecff;
            }
            #body-of-inputs {
                margin-left: 2%;
            }
            h1 {
                margin-top: 2%;
            }
            #link-back {
                display: inline-block;
                margin-top: 2%;
                border: 1px solid darkkhaki;
                background-color: whitesmoke;
                padding: 5px;
            }
        </style>
    </head>
    <body>
    {% if question_data %}
        <p><a id="link-back" href="{{ url_for('display_question_and_answers', question_id=question_data.id) }}">&#x2B05; Return to question</a></p>
        <div id="body-of-inputs">
            <h1>Edit question</h1>
    {% else %}
            <p><a id="link-back" href="{{ url_for('route_index')}}">&#x2B05; Return to homepage</a></p>
            <div id="body-of-inputs">
            <h1>Ask a question</h1>
    {% endif %}
            <form action="" method="post">
                <p id="add-question-title">
                    <label for="title">Question title:</label><br>
                    <input id="title" name="title" minlength="5" maxlength="100" size="50" required
                           value="{{ question_data.title if question_data else '' }}">
                </p>
                <p id="add-question-message">
                    <label for="message">Message:</label><br>
                    <textarea id="message" name="message" rows="15" cols="100" required
                    >{{ question_data.message if question_data else ''}}</textarea>
                </p>
                <p id="add-image-url">
                    <label for="image">Image URL:</label><br>
                    <input id="image" name="image" size="30"
                           value="{{ question_data.image if question_data else '' }}">
                </p>
                <p id="question-submit-button">
                    <input type="submit" value="Submit question">
                </p>
            </form>
        </div>
    </body>
</html>