<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete specific comment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question_style.css') }}">
</head>
<body>
    {% if answer %}
        <p id="answer-message">{{ answer }}</p>
    {% else %}
        <h3>{{ question.title }}</h3>
        <p id="answer-message">{{ question.message }}</p>
    {% endif %}
    </br>
    <p>Your comment: </p>
    <p id="comment-message">{{ comment.message }}</p>
    <p>Are you sure you want to delete this comment?</p>
    <form action="" method="post">
        <button type="submit" name="delete-button" value="Yes">Yes</button>
        <button type="submit" name="delete-button" value="No">No</button>
    </form>
</body>
</html>