{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clickables.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <a class="back-to-main" id="index-page">HIDDEN</a>
    <h1>Welcome to AskMate!</h1>
    {% if sorted_questions %}
        <h3>Help out your fellow AskMates:</h3>
        {% include 'table.html' %}
        <p>
            <a href="{{ url_for('route_add') }}" id="ask-question">Ask a question</a>
        </p>
        <p>
            <a href="{{ url_for('route_list') }}" id="list-questions">List all questions</a>
        </p>
    {% else %}
        <p>
            <a href="{{ url_for('route_add') }}" id="first-question">Be the fist to ask a question</a>
        </p>
    {% endif %}
{% endblock %}