<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage | AskMate</title>
</head>
<body>
    <h1>Welcome to AskMate!</h1>
    <form action="" method="post">
        <select name="sorting_method" id="sort_method">
            <option value="id" {{ 'selected' if selected_sorting=='submission_time' else ''}}>Id</option>
            <option value="submission_time" {{ 'selected' if selected_sorting=='submission_time' else ''}} >Time posted</option>
            <option value="view_number" {{ 'selected' if selected_sorting=='view_number' else ''}}>Views</option>
            <option value="vote_number" {{ 'selected' if selected_sorting=='vote_number' else ''}}>Vote numbers</option>
            <option value="title" {{ 'selected' if selected_sorting=='title' else ''}}>Title</option>
            <option value="message" {{ 'selected' if selected_sorting=='message' else ''}}>Message</option>
        </select>
        <select name="sorting_order" id="sort_order">
            <option value="asc" {{ 'selected' if selected_order=='asc' else ''}}>Ascending</option>
            <option value="desc" {{ 'selected' if selected_order=='desc' else ''}}>Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <h3>Latest questions:</h3>
    <ul>
        {% for question in sorted_questions %}
        <li>
            <a href="/question/{{ question.id }}">{{ question.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <p><a href="/add-question">Ask a question</a></p>
</body>
</html>