{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <style>
        label {
            display: block;
            font: .9rem 'Fira Sans', sans-serif;
        }

        input[type='submit'],
        label {
            margin-top: 1rem;
        }
    </style>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="back-to-main" id="index-page">
        <span>Hidden</span>
    </div>
    <section>
        <form method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password ">Password (8 characters minimum):</label>
                <input type="password" id="password "name="password" minlength="8" required>
            </div>
            <p><input type="submit" value="Log in"></p>
        </form>
    </section>
{% endblock %}