<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New comment for answer</title>
</head>
<body>
    {% if answer_by_id %}
        <p>{{ answer_by_id.message }}</p>
    {% elif comment.answer_id %}
        <p>{{ answer.message }}</p>
    {% else %}
        <p>{{ question.message }}</p>
    {% endif %}
    <form action="", method="POST">
        <textarea name="comment" cols="40" rows="10" required>{{ comment.message if comment }}</textarea>
        <button type="submit">
            {{"Post comment" if answer_by_id else "Save changes"}}
        </button>
    </form>
</body>
</html>