<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>{{ question }}</h1>
        <form action="" method="post">
            <br>
            <label for="question_message">{{ message_for_question }}</label>
            <br><br>
            <textarea type="text", id="get_answer" name="get_answer", minlength="10", rows="6", cols="40"></textarea>
            <br><br>
            <button type="submit">Send answer!</button>
        </form>
    </body>
</html>