<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post an answer</title>
    </head>
    <body>
        <h1>{{ question.title }}</h1>
        <div>{{ question.message }}</div>
        <form action="" method="post">
            <p>
                <label for="message">Write your answer here:</label><br>
                <textarea id="message" name="message" minlength="10" rows="6" cols="40"></textarea>
            </p>
            <p>
                <label for="image">Image URL:</label><br>
                <input id="image" name="image" size="30" value="">
            </p>
            <p>
                <button type="submit">Send answer!</button>
            </p>
        </form>
    </body>
</html>