<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title[:20] }}{{ '...' if question.title|length>20 }} | AskMate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question_style.css') }}">
</head>
<body>
<a href="/" id="back-to-main">&#x2B05; Return to main page</a>
<div id="main">
    {% if question %}
        {% set current_question_index = question_ids.index(question.id) %}
        <div id="next-previous-question">
            {% if current_question_index > 0 %}
                <a href="{{ question_ids[current_question_index - 1] }}" id="previous-question">Previous question</a>
            {% else %}
                <span id="previous-question">Previous question</span>
            {% endif %}

            {% if question_ids|length - 1 > current_question_index %}
                <a href="{{ question_ids[current_question_index + 1] }}" id="next-question">Next question</a>
            {% else %}
                <span id="next-question">Next question</span>
            {% endif %}
{#            <span id="which-question">{{ current_question_index + 1 }}/{{ question_ids|length }}</span>#}
        </div><br>
        <h3 id="question-title">{{ question.title }}</h3>
            <div id="modify-question">
                <a href="{{ url_for('route_delete', question_id=question.id) }}" id="delete-question">Delete question</a>
                <a href="{{ url_for('route_edit', question_id=question.id) }}" id="edit-question">Edit question</a>
            </div>
        <div id="question-message-and-image">
            <p id="question-message">{{ question.message }}</p>
            {% if question.image %}
                <img id="question-image" src="{{ question.image }}" width="500" alt="missing_image">
            {% endif %}
        </div>
        {% for tag in tags %}
            <div id="tags">
                <span id="tag-text">{{ tag.name }}</span>
                <span><a href="{{ url_for('remove_tag', question_id=question.id, tag_id=tag.id) }}"><strong>x</strong></a></span>
            </div>
        {% endfor %}
        <div id="add-new-tag">
            <a href="{{ url_for('route_new_tag', question_id=question.id) }}">Add new tag</a>
        </div>
        <p id="view-counter">views: {{ question.view_number }} | likes: {{ question.vote_number }}</p>
        <form action="{{ url_for('route_vote', question_id=question.id) }}" method="post">
            <button type="submit" name="vote" value="Upvote,{{ question.id }},question" id="upvote">&#x1F44D;</button>
            <button type="submit" name="vote" value="Downvote,{{ question.id }},question" id="downvote">&#x1F44E;
            </button>
        </form>
        {% if answers %}
            <a href="/question/{{ question.id }}/new-answer" id="answer-question">Answer this question!</a>
            <a href="/question/{{ question.id }}/new-comment" id="add-comment">Comment this question</a>
        {% endif %}
            <div class="comments">
                        {% for comment in comments %}
                            {% if comment.answer_id == None %}
                                <div class="comment">
                                    </br>
                                    <p class="comment-submission-time">posted on {{ comment.submission_time }}</p>
                                    {% if comment.edited_count > 0 %}
                                        <div class="comment-edit-count">Edited {{ comment.edited_count }} times</div>
                                    {% endif %}
                                    <p class="comment-message">{{ comment.message }}</p>
                                    <a href="/comments/{{ comment.id }}/edit">Edit comment</a>
                                </div>
                            {% endif %}
                        {% endfor %}
            </div>
            {% if answers %}
            {% for answer in answers %}
                <div id="answers">
                    <strong id="answer-id">Answer id_{{ answer.id }}</strong>
                    <p id="answer-submission-time">posted on {{ answer.submission_time }}</p>
                    <p id="answer-message">{{ answer.message }}</p>
                    {% if answer.image %}
                        <br><img src="{{ answer.image }}" width="500" alt="answer_image">
                    {% endif %}
                    <form action="{{ url_for('route_vote', question_id=question.id) }}" method="post">
                        <p id="answers-like-counter">Likes: {{ answer.vote_number }}</p>
                        <button type="submit" name="vote" value="Upvote,{{ answer.id }},answer" id="upvote-answer">
                            &#x1F44D;
                        </button>&emsp;
                        <button type="submit" name="vote" value="Downvote,{{ answer.id }},answer" id="downvote-answer">
                            &#x1F44E;
                        </button>
                    </form>
                    <a href="/answer/{{ question.id }}/{{ answer.id }}/new_comment" id="new_comment">Comment this answer!</a>
                    &emsp;
                    <a href="{{ url_for('route_delete_answer', question_id=question.id, answer_id=answer.id) }}"
                       id="delete-answer">Delete answer</a>
                    &emsp;
                    <a href="{{ url_for('route_edit_answer', answer_id=answer.id) }}"
                       id="delete-answer">Edit answer</a>
                    <div class="comments">
                        {% for comment in comments %}
                            {% if comment.answer_id == answer.id %}
                                <div class="comment">
                                    </br>
                                    <p class="comment-submission-time">posted on {{ comment.submission_time }}</p>
                                    {% if comment.edited_count > 0 %}
                                        <div class="comment-edit-count">Edited {{ comment.edited_count }} times</div>
                                    {% endif %}
                                    <p class="comment-message">{{ comment.message }}</p>
                                     &emsp;
                                    <a href="/comments/{{ comment.id }}/edit">Edit comment</a>
                                    <a href="{{ url_for('delete_comment', question_id=question.id,
                                                                          comment_id=comment.id,
                                                                          answer_id=answer.id) }}">
                                    <button type="submit" id="delete-comment">
                                        <img id="delete-button-image" src="https://image.flaticon.com/icons/png/512/70/70388.png">
                                    </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <a href="/question/{{ question.id }}/new-answer" id="answer-question-first">Be the first to answer this
                question!</a>
            <a href="/question/{{ question.id }}/new-comment" id="add-comment">Comment this question</a>
        {% endif %}
    {% else %}
        <p>Question not found!</p>
    {% endif %}
</div>
</body>
</html>