<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ question.title[:20] }}{{ '...' if question.title|length>20 }} | AskMate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question_style.css') }}">
</head>
<body>
    <p><a href="/" id="back-to-main">Return to main page</a></p>
    <div id="main-question-body">
        {% if question %}
            {% set current_question_index = question_ids.index(question.id) %}
            <div id="question-without-answers">
                {% if question.image %}
                    <img src="{{ question.image }}" width="500" alt="missing_image">
                {% endif %}
            </div>
            <div id="operations">
                <a href="{{ url_for('route_edit', question_id=question.id) }}" id="edit">Edit question</a>

                <a href="{{ url_for('route_delete', question_id=question.id) }}" id="delete">Delete question</a>

                {% if current_question_index > 0 %}
                    <a href="{{ question_ids[current_question_index - 1] }}" id="previous-question">Previous question</a>
                {% else %}
                    <span id="previous-question">Previous question</span>
                {% endif %}
                {% if question_ids|length - 1 > current_question_index %}
                    <a href="{{ question_ids[current_question_index + 1] }}" id="next-question">Next question</a>
                {% else %}
                    <span id="next-question">Next question</span>
                {% endif %}
                <span id="which-question">{{ current_question_index + 1}}/{{ question_ids|length }}</span>
            </div>
            <h3>{{ question.title }}</h3>
            <p id="question-message">{{ question.message }}</p>
            <p id="view-counter">views: {{ question.view_number }} | likes: {{ question.vote_number }}</p>
                <p><form action="" method="post">
                        <button type="submit" name="vote" value="Upvote,{{ question.id }},question" id="upvote">&#x1F44D;</button>
                        <button type="submit" name="vote" value="Downvote,{{ question.id }},question" id="downvote">&#x1F44E;</button>
                </form></p>
            {% if answers %}
                <a href="/question/{{ question.id }}/new-answer" id="answer-question">Answer this question!</a>
                {% for answer in answers %}
                    <p>
                        <div id="answers">
                            <strong>Answer at #{{ answer.submission_time }}</strong><br>
                                    <p id="answer-message">{{ answer.message }}</p>
                                            <form action="" method="post">
                                                <p id="answers-like-counter">Likes: {{ answer.vote_number }}</p>
                                                <button type="submit" name="vote" value="Upvote,{{ answer.id }},answer" id="upvote-answer">&#x1F44D;</button>&emsp;
                                                <button type="submit" name="vote" value="Downvote,{{ answer.id }},answer" id="downvote-answer">&#x1F44E;</button>
                                            </form>
                        <a href="{{ url_for('route_delete_answer', question_id=question.id, answer_id=answer.id) }}" id="delete-answer">
                            Delete answer
                        </a>
                        </div>
                        {% if answer.image %}
                            <br><img src="{{ answer.image }}" width="300" alt="answer_image">
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                <a href="/question/{{ question.id }}/new-answer" id="answer-question-first">Be the first to answer this question!</a>
            {% endif %}
        {% else %}
            <p>Question not found!</p>
        {% endif %}
    </div>
</body>
</html>