<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if question %}
    <h3>{{ question.title }}</h3>
    <p>Q: {{ question.message }}</p>
    {% if question.image %}
        <img src="{{ question.image }}">
    {% endif %}
    <p>views: {{ question.view_number }} | likes: {{ question.vote_number }}</p>
    {% if answers %}
        <form action="" method="post">
            {% for answer in answers %}
                        <p>A: {{ answer.message }}</p>

                        <p>
                            Likes: {{ answer.vote_number }}
                            &emsp;<button type="submit" name="vote" value="{{ answer.id }}">Vote</button>
                        </p>

            {% endfor %}
        </form>
            <a href="/question/{{ question.id }}/new-answer">Answer this question!</a>
        {% else %}
            <a href="/question/{{ question.id }}/new-answer">Be the first to answer this question!</a>
        {% endif %}
    {% else %}
        <p>Question not found!</p>
    {% endif %}
    <div>
        <a href="{{ url_for('route_edit', question_id=question.id) }}">Edit question</a>
    </div>
    <div>
        {% if question.id|int < last_question_id %}
            <a href="{{ question.id|int + 1 }}">Next question</a>
        {% endif %}
    </div>
    <div>
        <a href="/">Return to main page</a>
    </div>
</body>
</html>