<table>
    <thead>
        <th>Message containing search phrase</th>
        <th>Submission Time</th>
        <th>Upvotes</th>
        <th>Answer number</th>
    </thead>
    {% for result in search_results %}
    <tr>
        {% if search_phrase in result.q_title %}
            <td>{{ result.q_title }}</td>
            <td>{{ result.q_time }}</td>
            <td>{{ result.q_vote }}</td>
            <td>{{ result.answer_number }}</td>
        {% elif search_phrase in result.q_message %}
            <td>{{ result.q_title }}<br>{{ result.q_message }}</td>
            <td>{{ result.q_time }}</td>
            <td>{{ result.q_vote }}</td>
            <td>{{ result.answer_number }}</td>
        {% elif search_phrase in result.a_message %}
            <td>{{ result.a_message }}</td>
            <td>{{ result.a_time }}</td>
            <td>{{ result.a_vote }}</td>
            <td>-</td>
        {% endif %}
    </tr>
{% endfor %}
</table>