{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    {{ super() }}
{% endblock %}
{% block title %}Search results{% endblock %}
{% block content %}
    <a href="{{ url_for('route_index') }}" class="back-to-main" id="list-page">&#x2B05; Return to main page</a>
    <h1>Search results</h1>
    <h3>Questions containing search phrase '{{ search_phrase }}':</h3>
    {% if search_results %}
        {% include 'search_table.html' %}
    {% else %}
    <p>No results</p>
    {% endif %}
{% endblock %}