<form action="{{ url_for('route_list') }}" method="get" id="sort">
    <select name="order_by" id="sort_order_by">
        {% for column in ('id', 'submission_time', 'view_number', 'vote_number', 'answer_number', 'title') %}
            <option value="{{ column }}" {{ 'selected' if selected_sorting==column else '' }}>
                {{ column.capitalize() }}
            </option>
        {% endfor %}
    </select>
    <select name="order_direction" id="sort_order_direction">
        <option value="asc" {{ 'selected' if selected_order=='asc' else ''}}>&#x2B06;</option>
        <option value="desc" {{ 'selected' if selected_order=='desc' else ''}}>&#x2B07;</option>
    </select>
    <button type="submit">Sort</button>
</form>