<form action="{{ url_for('route_list') }}" method="get" id="sort">
    <select name="order_by" id="sort_order_by">
        <option value="id" {{ 'selected' if selected_sorting=='submission_time' else ''}}>Id</option>
        <option value="submission_time" {{ 'selected' if selected_sorting=='submission_time' else ''}} >Time posted</ option>
        <option value="view_number" {{ 'selected' if selected_sorting=='view_number' else ''}}>Views</option>
        <option value="vote_number" {{ 'selected' if selected_sorting=='vote_number' else ''}}>Likes</option>
        <option value="answer_number" {{ 'selected' if selected_sorting=='answer_number' else ''}}>Answers</option>
        <option value="title" {{ 'selected' if selected_sorting=='title' else ''}}>Title</option>
    </select>
    <select name="order_direction" id="sort_order_direction">
        <option value="asc" {{ 'selected' if selected_order=='asc' else ''}}>&#x2B06;</option>
        <option value="desc" {{ 'selected' if selected_order=='desc' else ''}}>&#x2B07;</option>
    </select>
    <button type="submit">Sort</button>
</form>