<table>
    <tr>
        <th>Id</th>
        <th>Question Title</th>
        <th>Upvotes</th>
        <th>Views</th>
        <th>Answers</th>
        <th>Submission Time</th>
    </tr>
    {% for question in sorted_questions %}
    <tr>
        <td>{{ question.id }}</td>
        <td><a href="{{ url_for('display_question_and_answers', question_id=question.id) }}">{{ question.title }}</a></td>
        <td>{{ question.vote_number }}</td>
        <td>{{ question.view_number }}</td>
        <td>{{ question.answer_count }}</td>
        <td>{{ question.submission_time }}</td>
    </tr>
    {% endfor %}
</table>