<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vote</title>
    </head>
    <body>
        <h3>{{ question.title }}</h3>
        <p>
            Q: {{ question.message }}
        </p>
        <p>
            A: {{ answer }}
        </p>
        <form action="" method="post">
            <button type="submit" name="vote" value="Upvote">Upvote</button>
            &emsp;<button type="submit" name="vote" value="Downvote">Downvote</button>
            &emsp;<button type="submit" name="vote">Back</button>
        </form>
    </body>
</html>